<ion-view title="Quests">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <div ng-repeat="state in quests">
                <ion-item class="item-stable" ng-click="folding.Toggle(state.key)">
                    <i class="icon icon-bar-ins left" ng-class="folding.IsShown(state.key) ? 'ion-minus' : 'ion-plus'"></i> 
                    {{state.name}}
                    <i class="icon icon-bar-ins right ion-plus-circled"></i>
                </ion-item>
                <div class="child-indent-container" ng-show="folding.IsShown(state.key)" ng-repeat="quest in state.quests">
                    <quest-summary quest="quest" />
                </div>
            </div>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-calendar"></i>
                <a href="#/quests/scheduled">Scheduled</a>
            </ion-item>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-close-round"></i>
                <a href="#/quests/cancelled">Cancelled</a>
            </ion-item>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-minus-circled"></i>
                <a href="#/quests/failed">Failed</a>
            </ion-item>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-checkmark-circled"></i>
                <a href="#/quests/completed">Completed</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>