<ion-view title="Quests">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <div ng-repeat="state in quests">
                <ion-item class="item-stable" ng-click="folding.Toggle(state)">
                    <i class="icon icon-bar-ins left" ng-class="folding.IsShown(state) ? 'ion-minus' : 'ion-plus'"></i> 
                    {{state.name}}
                    <i class="icon icon-bar-ins right ion-plus-circled"></i>
                </ion-item>
                <div class="child-indent-container" ng-show="folding.IsShown(state)" ng-repeat="quest in state.quests">
                    <ion-item class="item-stable" ng-click="folding.Toggle(quest)">
                        <i class="icon icon-bar-ins left ion-arrow-move"></i>
                        <i class="icon icon-bar-ins left" ng-class="folding.IsShown(quest) ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i>
                        {{quest.title}} 
                        <i class="icon icon-bar-ins right ion-close"></i>
                        <i class="icon icon-bar-ins right ion-play"></i>
                        <i class="icon icon-bar-ins right ion-edit"></i>
                    </ion-item>
                    <div class="child-indent-container" ng-show="folding.IsShown(quest)">
                        <div class="list card">
                            <div class="item item-text-wrap item-icon-left">
                                <i class="icon ion-pin"></i>
                                <a ng-bind-html="quest.last_journal | hilightHashtags"></a>
                            </div>
                        </div>
                        <div class="list card">
                            <div class="item item-text-wrap item-icon-left"> 
                                <i class="icon ion-pound"></i>
                                <a ng-bind-html="quest.last_journal | hilightHashtags"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-calendar"></i>
                <a href="#/quests/scheduled">Scheduled</a>
            </ion-item>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-close-round"></i>
                <a href="#/quests/cancelled">Cancelled</a>
            </ion-item>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-minus-circled"></i>
                <a href="#/quests/failed">Failed</a>
            </ion-item>
            <ion-item class="item-stable">
                <i class="icon icon-bar-ins left ion-checkmark-circled"></i>
                <a href="#/quests/completed">Completed</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>