<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Are you sure?</h1>
    </ion-header-bar>
    <ion-content>
        <div class="modal-content">
            <p>Are you sure?</p>
            <button class="button button-balanced" ng-click="confirm()">
                <i class="icon ion-checkmark-round"></i>
                Confirm
            </button>
            <button class="button button-assertive" ng-click="reject()">
                <i class="icon ion-close-round"></i>
                Reject
            </button>
        </div>
    </ion-content>
</ion-modal-view>